{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 130,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "overrides": [{
    "files": "*.component.html",
    "options": {
      "parser": "angular"
    }
    }, {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
