.page-header {
  display: flex;
  justify-content: space-between;
  .page-title {
    cursor: default;
    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #011f4b;
    }

    h2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #7e8299;
    }
  }

  .filters {
    display: flex;

    app-dropdown {
      margin-right: 23px;
    }

    app-button {
      margin-top: 10px;
    }
  }
}

.reports {
  display: flex;
  flex-direction: row;

  .reports-table {
    background: #f1fafe;
    border-radius: 10px;
    padding: 18px 24px;
    min-width: 60%;
    min-height: 473px;
    width: 100%;

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      cursor: default;
      color: #011f4b;
      margin-bottom: 34px;
    }
  }

  .reports-chart {
    margin-left: 31px;
    width: 70%;
  }
}

.total-amount {
  margin-top: 27px;
  height: 53px;
  background: #f1fafe;
  border-radius: 10px;

  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor: default;
    color: #011f4b;
    padding: 17px 29px;
  }
}
