.page-header {
  display: flex;
  justify-content: space-between;
  .page-title {
    cursor: default;
    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #011f4b;
    }

    h2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #7e8299;
    }
  }

  .filters {
    display: flex;

    app-dropdown {
      margin-right: 23px;
    }

    app-button {
      margin-top: 10px;
    }
  }
}

.reports {
  display: flex;
  flex-direction: row;

  .reports-table {
    background: #f1fafe;
    border-radius: 10px;
    padding: 18px 24px;
    min-width: 60%;
    width: 100%;

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      cursor: default;
      color: #011f4b;
      margin-bottom: 34px;
    }

    app-accordion {
      margin-bottom: 5px;
    }

    .accordion-header-content {
      background: #ffffff;
      border-radius: 10px;
      height: 19px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 26px 21px;

      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #011f4b;
      }
    }

    .accordion-body-content {
      padding: 14px 0;
    }
  }

  .reports-chart {
    margin-left: 31px;
    width: 70%;

    .chart-title {
      height: 15px;
      background: #f1fafe;
      border-radius: 10px;
      display: flex;
      padding: 19px 23px;

      p {
        margin-right: 35px;

        .color-swatch {
          width: 15px;
          height: 15px;
          border-radius: 5px;
          display: inline-block;
          margin-right: 12px;
        }

        .chart-name {
          font-weight: 400;
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
          line-height: 16px;
          color: #011f4b;
        }
      }
    }
    .total-amount-graphic {
      height: 53px;
      background: #f1fafe;
      border-radius: 10px;

      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #011f4b;
        padding: 17px 20px;
      }
    }
  }
}

.total-amount {
  margin-top: 27px;
  height: 53px;
  background: #f1fafe;
  border-radius: 10px;

  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor: default;
    color: #011f4b;
    padding: 17px 29px;
  }
}
